header {
    height:60vh;
    padding-top: 7rem;
    overflow:visible;
}

.header__container {
    /*text-align: center;*/
    height:100%;
    position:relative;
  
}

.lightText {
    font-weight: 100;
}

/* ================ CTA ===============*/
.cta {
    margin-top: 2.5rem;
    display:flex;
    gap:1rem; /*you need to add gap to your arsenal, you're still using margins inside flex and that sucks*/
    justify-content: center;

}


/* ================ HEADER SOCIALS ===============*/

.header__socials {
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 0.8rem;

    /*this is how we get those funky placements that accentuate a website*/
    position: absolute;
    left:0;
    bottom: 3rem;
}

/*notice how to do lines and shapes using "after pseudo element*/

.header__socials::after{ /*i believe after and before are usuially just boxes , but it is our sizing and rotating of them that will make them into different shapes*/
 content:'';
 width:1px;
 height:2rem;
 background: var(--color-primary);

}


/* ================ ME ===============*/

.me {
    background: linear-gradient(var(--color-primary),55% ,transparent);
    width:24rem; 
    height:32rem;
    position:absolute;

    /* this is how you can center an absolute element*/
    /*normally i used to do top 50% left 50% but i guess it's the same thing*/
    left:calc(50% - 11rem);
    

    margin-top:4rem;
    border-radius:12rem 12rem 0 0;
    overflow:visible;
    padding:1rem 1.5rem 1.5rem 1.5rem;
}

/* ================ SCROLL DOWN ===============*/

.price__tag {
    position:absolute;
    right:-26%;
    bottom:/*42rem*/50%;
    
    font-weight:500;
    font-size:1.1rem;
}


.wave1 {
    position: relative;
    bottom: 247px; /*just a makeshift to allow this the curve meld into the next section*/
    
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
   
    background-image: radial-gradient(#FFFFFF 20%, transparent 20%),
    radial-gradient(#fafafa 20%, transparent 20%);
 
     background-position: 0 0, 50px 50px;
     background-size: 10px 10px;
     z-index: -1;

    
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(281% + 1.3px);
    height: 295px;
}

.wave1 .shape-fill {
    fill: #8541C8;
}






/* ======================== MEDIA QUERIES FOR HEADER (MEDIUM DEVICES) ======================*/


@media screen and (max-width:1200px) {
    
    header {
        height:60vh;
        
     }


      
 .price__tag {
    display:none;
 }

}







@media screen and (max-width:1044px) {
   
 header {
    height:60vh;
    
 }




 .price__tag {
    display:none;
 }
 }
 
 
 
 /* ======================== MEDIA QUERIES FOR HEADER (SMALL DEVICES) ======================*/
 
 @media screen and (max-width:600px) {
     
    header {
        height:86vh;
        /*margin-bottom: 11rem;*/
       
        
     }
    
     .header__socials, .scroll__down{
        display:none;
     }


     .price__tag {
        display:none;
     }

    
  
  }



