
footer {
    background:var(--color-primary-variant);
    padding:3rem 0;
    padding-bottom: 0px;
    text-align:center;
    font-size:0.9rem;
    /*margin-top: 7rem;*/
}

footer a {
    color:var(--color-white);
    font-weight: 900;
}

footer p {
    width: 100%;
    color:var(--color-white);
    margin:0 auto 3rem;
    font-size: 0.8rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.footer__logo {
    font-size:2rem ;
    font-weight: 500;
    margin-bottom: 2rem;
    display:inline-block;
}


.linkOrg{
    margin:0 auto 3rem;
    width:70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.linkOrg li{
list-style: none;
}

.permalinks {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    gap:0.5rem;
     
}



.shortLine::after{
    border-left: 1px solid var(--color-bg-special);
    content: '';
    height: 200px;
   
}

.lineDivider1{
    border-top: 1px dashed var(--color-bg-special);
    margin-bottom: 3%;
}

.lineDivider2{
    border-top: 1px dashed var(--color-bg-special);
    margin-bottom: 1%;
}


.footer__socials {
    display:flex;
    justify-content: center;
    gap:1rem;
    margin-bottom:4rem;

}

.footer__socials a {
    background: var(--color-bg);
    color:var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border:1px solid transparent;

}

.footer__socials a:hover{
    background:transparent;
    color:var(--color-bg);
    border-color:var(--color-bg);
}

.footer__copyright {
   
    margin-bottom: 1rem;
    margin-top: 4rem;
    color:var(--color-bg);
    display: flex;
    justify-items: center;
    align-items: center;
}


.footer__copyright img{
   width:200px;
}


.endColor{
  width:100%;
  height:70px;
  background-color: var(--color-primary-variant);
  margin-bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.endStripe{
    width: 100%;
    height:10px;
    margin-bottom: 1%;
background-color: var(--color-primary);
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) ================ */

@media screen and (max-width:1024px) {
    .permalinks{
        flex-direction:column;
        gap:1.5rem;

    }



    .footer__socials{
        margin-bottom: 2.6rem;
    }

    footer p{
   
    font-size: 0.6rem;
}
    
 }
 
 
 /* ================= MEDIA QUERIES (SMALL DEVICES) ==================== */
 @media screen and (max-width:600px) {
 .linkOrg{
    flex-direction: column;
 }

 .permalinks{
   
    gap:0.5rem;

}

.shortLine {
    display: none;
}

 
 }