nav {
    /*background:#0767A830;*/
   
    width: 85%; /*width and margin for pacement and centering of objects*/
    margin:0 auto;

    display: block;
    padding:0.7rem 1.7rem;
    position:relative;
    z-index: 2;
    
    /*another centering style when youdont know the 
    exact dimensions of the container element */

    /* left:50%;
    transform: translateX(-50%);
    bottom: 2rem;*/

    display:flex;
    justify-content: space-between;
    gap:0.8rem; /*the gap for display flex is on the same level as display flex*/
    /*border-radius: 3rem;*/
   /* backdrop-filter:blur(15px);*/ 
    
}



.navLinkContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:30px;
}

nav a {
    background:transparent;
    padding:0.9rem;
    border-radius:50%;
    display:flex;
    
    color:black;
    font-size:1.1rem; 
}

nav a:hover {
    color:var(--color-primary);
}



nav a.active {
    
    color:var(--color-primary);
}

nav button {
    height: 40px;
    text-align:center;
}

.buttonPlace {
    display:flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1500px) {
     
    nav {
      
        
        width:90% !important; /*just for the navbar*/
      }

}




/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ======================*/

@media screen and (max-width:1300px) {
    nav {
      
      position: fixed;
      top:0;
      background-color: var(--color-white);
      width:100% !important; /*just for the navbar*/
    }
 
  

 
 }
 
 
 
 /* ======================== MEDIA QUERIES (SMALL DEVICES) ======================*/
 
 @media screen and (max-width:600px) {
     nav {
       width: var(--container-width-sm);
     }
  
    
  
  }